<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta name="renderer" content="webkit|ie-comp|ie-stand"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"></meta>
<meta http-equiv="Cache-Control" content="no-siteapp"></meta>
<link rel="Bookmark" href="H-ui-admin-v3/favicon.ico" />
<link rel="Shortcut Icon" href="H-ui-admin-v3/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="H-ui-admin-v3/lib/html5shiv.js"></script>
<script type="text/javascript" src="H-ui-admin-v3/lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="H-ui-admin-v3/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="H-ui-admin-v3/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="H-ui-admin-v3/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="H-ui-admin-v3/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="H-ui-admin-v3/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="H-ui-admin-v3/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title></title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> Home <span class="c-gray en">&gt;</span> General Ledger Master  <a id="btn-refresh" class="btn btn-success radius r " style="line-height:1.6em;margin-top:3px" onclick="refresh()" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c">
	</div>
	<div class="mt-20">
		<table id="table" class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
			<thead>
				<tr class="text-c">
					<th width="25"><input id="checkAll" type="checkbox" name="" value=""></input></th>
					<th width="30">ID</th>
					<th>Class</th>
					<th>Classification</th>
					<th>Name</th>
					<th>Sequence</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-c" th:each="ledger : ${generalLedgers}"> 
				     <td><input type="checkbox" th:value="${ledger.id}" name="id"></input></td>
				     <td th:text="${ledger.id}">id</td>
				     <td th:text="${ledger.clazz}">id</td>
				     <td th:text="${ledger.classification}">classification</td>
				     <td>
				     	<a href="javascript:;" th:onclick="'javascript:_editName(this,\''+${ledger.classification}+'\', \''+${ledger.id}+'\');'"
				     	 th:text="${ledger.name}">name</a>
				     	<a style="text-decoration:none" class="ml-5" href="javascript:;"  title="编辑"
				     	th:onclick="'javascript:_editName(this,\''+${ledger.classification}+'\', \''+${ledger.id}+'\');'">
				     	<i class="Hui-iconfont">&#xe6df;</i></a>
				     </td>
				     <td>
				     	<a href="javascript:;" th:onclick="'javascript:_editSequence(this,\''+${ledger.classification}+'\', \''+${ledger.id}+'\');'"
				     	 th:text="${ledger.sequence}">sequence</a>
				     	<a style="text-decoration:none" class="ml-5" href="javascript:;"  title="编辑"
				     	th:onclick="'javascript:_editSequence(this,\''+${ledger.classification}+'\', \''+${ledger.id}+'\');'">
				     	<i class="Hui-iconfont">&#xe6df;</i></a>
				     </td>
				 </tr>
			</tbody>
		</table>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="H-ui-admin-v3/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="H-ui-admin-v3/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="H-ui-admin-v3/static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="H-ui-admin-v3/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="H-ui-admin-v3/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="H-ui-admin-v3/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="H-ui-admin-v3/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
var table = $('.table-sort').DataTable({
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"pading":false,
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  {"orderable":false,"aTargets":[0]}// 不参与排序的列
	]
});
/*刷新*/
function refresh(){
	location.replace(location.href);
}
/*添加 or 编辑*/
function _editName(obj, title, id){
	layer.prompt({
		  formType: 0, //输入框类型，支持0（文本）默认1（密码）2（多行文本）
		  value: '', //初始值
		  title: title,
		  area: ['400px', '180px'] //自定义文本域宽高
		}, function(value, index, elem){
			console.log(value, "=value");
			//$.post(url,data,success(data, textStatus, jqXHR),dataType)
			$.post("saveGeneralLedger", {id:id,nameValue:value}, function(data, textStatus, jqXHR){
				console.log("data", data);
				console.log("textStatus", textStatus);
				console.log("jqXHR", jqXHR);
				if(data.code == 101) { // 101 ajax error
					layer.msg(data.message, {icon: 2, time:3000}, function(){layer.close(index)}); 
				}else {
					layer.msg("Successful", {icon:1, time:1000}, function(){
						refresh();layer.close(index);
					});
				}
			})
			.error(function() { alert("error"); })
		    .complete(function(event,xhr,options) { console.log(xhr)});
		  	
		});
}
function _editSequence(obj, title, id){
	layer.prompt({
		  formType: 0, //输入框类型，支持0（文本）默认1（密码）2（多行文本）
		  value: '', //初始值
		  title: title,
		  area: ['400px', '180px'] //自定义文本域宽高
		}, function(value, index, elem){
			console.log(value, "=value");
			//$.post(url,data,success(data, textStatus, jqXHR),dataType)
			$.post("saveGeneralLedger", {id:id,sequenceValue:value}, function(data, textStatus, jqXHR){
				console.log("data", data);
				console.log("textStatus", textStatus);
				console.log("jqXHR", jqXHR);
				if(data.code == 101) { // 101 ajax error
					layer.msg(data.message, {icon: 2, time:5000}, function(){layer.close(index)}); 
				}else {
					layer.msg("Successful", {icon:1, time:1000}, function(){
						refresh();layer.close(index);
					});
				}
			})
			.error(function() { alert("error"); })
		    .complete(function(event,xhr,options) { console.log(xhr)});
		  	
		});
}

</script> 
</body>
</html>